html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

header {
    position: relative
}

header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 40px;
}

img {
    width: 100%;
}

.news-list {
    list-style: none outside;
    padding: 0;
}

.item {
    display: list-item;
}

.news-list .item a {
    display: flex;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    text-decoration: none;
    color: #333;
    padding: 20px 20px;
}

.news-list .item .date {
    margin: 0;
    width: 20%;
    font-size: 16px;
    color: #333;
    padding: 0 15px 0 0;
}

.news-list .item .title {
    margin: 0;
    width: 100%;
}

.container__w-70 {
    width: 70%;
}

@media (max-width: 991px) {
    .news-list .item .date {
        width: 30%;
        /* padding: 0 10px 0 0; */
    }
}

@media (max-width: 767px) {
    .md__container {
        padding: 0 10% 5% 10%;
    }

    header h1 {
        font-size: 28px;
    }

    .container__w-70 {
        width: 90%;
    }
}
