html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

header {
    position: relative
}

header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 40px;
}

img {
    width: 100%;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 28px;
    }
}
